.grid {

}


.column1 { 
	width: 40%;
  	display: inline-block;
  	vertical-align: top;
  	margin-top: 30px;
  	border: 1px solid #dfe2e5;
}

.column2 { 
	width: 40%;
  	display: inline-block;
  	vertical-align: top;
  	margin-top: 30px;
  	border: 1px solid #dfe2e5;
}